
body {
	background: url(images/header.jpg) no-repeat #1d3156;
	background-size: contain;
    font-size: 16px;
    color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    font-family: "canada-type-gibson", sans-serif;
}
.site-wrap {
	margin: 0 auto;
	position: relative;
	z-index: 3;
}
.container {
	max-width: 1400px;
	padding: 0 30px;
	margin: 0 auto;
}
.sr {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}

/* STARS */
.stars {
	background: url(images/stars.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-animation: blinking-stars 5s infinite; /* Safari 4+ */
	-moz-animation:    blinking-stars 5s infinite; /* Fx 5+ */
	-o-animation:      blinking-stars 5s infinite; /* Opera 12+ */
	animation:         blinking-stars 5s infinite; /* IE 10+, Fx 29+ */
	z-index: 1;
	display: none;
}
@-webkit-keyframes blinking-stars {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes blinking-stars {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@-o-keyframes blinking-stars {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes blinking-stars {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h2 {
	font-size: 30px;
	text-transform: uppercase;	
	margin-bottom: 60px;
	letter-spacing: 3px;
}

/* LINKS */
a {
	border-bottom: 2px solid transparent;
	color: #fff;
	text-decoration: none;
	transition: border ease-in-out .3s;
}
a:hover {
	border-bottom: 2px solid #fff;
}

/* LISTS */
ul, ol {
	margin: 0;
	padding: 0;
}
.list--inline li {
	display: inline-block;
}

/* HEADER */
header {
	margin: 180px 0 250px 0;
	position: relative;
	z-index: 2;
}
header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu li {
	padding: 0 15px;
	font-size: 20px;
	text-transform: uppercase;
}

/* SECTION */
.site-block {
	width: 100%;
	min-height: 500px;
	padding: 125px 0;
	box-sizing: border-box;
}
.container {

}
.hide {
	display: none;
}

/* SHOWS */
#shows {
	background: url(images/shows-kev.png) no-repeat bottom right;
	min-height: 550px;
	padding-top: 0;
}
#shows .bit-widget-container {
	width: 70%;
}
.bit-widget {
	font-family: "canada-type-gibson", sans-serif !important;
}
.bit-widget .bit-event .bit-date, .bit-widget .bit-event .bit-button,
.bit-widget .bit-event .bit-location,
.bit-widget .bit-event-list-title {
	font-weight: 500;
}
.bit-widget a,
.bit-widget a:hover {
	border-bottom: none;
}
.bit-widget-container .bit-widget {
	background: transparent;
	color: #fff;
}
.bit-widget .bit-nav-bar-container {
	padding: 0;
}
.bit-widget .bit-upcoming-events, bit-past-events {
	border-bottom: 1px solid #fff;
	margin: 0;
}
.bit-widget .bit-event {
	color: #fff;
	border-top: 1px solid #fff;
}
.bit-widget .bit-button {
	background-color: transparent;
	border-bottom: 2px solid #fff;
}
.bit-widget .bit-rsvp,
.bit-widget .bit-offers {
	border: none;
	color: #fff;
}
.bit-widget .bit-rsvp:after,
.bit-widget .bit-offers:after {
	content: '';
	width: 70%;
	display: block;
	height: 2px;
	background: transparent;
	margin: 0 auto;
	transition: background ease-in-out .3s;
}
.bit-widget .bit-rsvp:hover:after,
.bit-widget .bit-offers:hover:after {
	content: '';
	background: #fff;
}

/* VIDEO */
#video {
	background: #aabfd0;
}

/* MUSIC */


/* CONNECT */
#connect {
	min-height: 0;
}
#connect ul {
	text-align: center;
}
#connect ul li a {
	font-size: 3rem;
	padding: 0 30px;
	opacity: 0.7;
	transition: opacity ease .3s;
}
#connect ul li a:hover {
	border-bottom: none;
	opacity: 1;
}


/* MOBILE */
@media screen and (max-width: 768px) {
	header {
		margin: 30px 0 70px 0;
	}
	header > .container {
		display: block;
		transition: all ease .3s;
	}
	.menu {
		margin: 30px 0;
	}
	.menu li:first-child {
		padding-left: 0;
	}
	#shows .bit-widget-container {
		width: 100%;
	}
	.bit-widget .bit-event {
		background: rgba(255,255,255,.2);
	}
}
@media screen and (max-width: 500px) {
	.site-block {
		min-height: 0;
		padding: 70px 0;
	}
}